<li class="list-group-item">
  <h6 class="burger-title">{{burger_name}}
    {{#unless eaten}}
    <button class="change-devoured btn btn-secondary badge" data-id="{{id}}" data-eaten="{{eaten}}">Devour</button>
    {{/unless}}
  </h6>
</li>